<ion-header>
  <ion-toolbar>
    <ion-title>
      Users
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/addtodo']">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Users</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let user of users">
        <ion-icon slot="start" color="medium" name="contact"></ion-icon>
        <ion-label>{{ user.name }}</ion-label>
      </ion-item>
    </ion-list>
</ion-content>